<%= form_for(@battle, :html => { :multipart => true }) do |f| %>
   <% if @battle.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@battle.errors.count, "error") %> prohibited
        this battle from being saved:
      </h2>
      <ul>
        <% @battle.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<!-- INPUT PLAYER NAME NOT PICTURE -->



<!-- input player's pics -->
<% @battle.pictures.each do |picture| %>
  <%= hidden_field :battle, :pictures, multiple: true, value: picture.identifier %>
<% end %>
<%= f.file_field :pictures, multiple: true %>


   <div class="actions">
     <%= f.submit %>
   </div>
<% end %>

