<%= form_for(@battle) do |f| %>
<div class ="photo-gallery">
    <% (0...@battle.pictures.length).to_a.shuffle.each do |i| %>
      <div class ="photo-group">
        <div>
        <%= image_tag @battle.pictures[i].url %>
        </div>
        <div>
        <% if i < 3 %>
          <%= f.radio_button(:votes0, '1') %>  
        <% elsif i < 6 %>
          <%= f.radio_button(:votes1, '1') %>
        <% elsif i < 9 %>
          <%= f.radio_button(:votes2, '1') %>
        <% else %>
          <%= f.radio_button(:votes3, '1') %>
        <% end %>
        
       
        </div>

      </div>  
    <% end %>
</div>
  

   <div class="actions">
     <%= f.submit "Submit Vote!", :class => 'button' %>
   </div>
<% end %>

    <%= link_to "See Results", result_battle_path(@battle), id:"title", class: "links" %> 

    <%= link_to "Leave battle", battles_path, id:"title", class: "links" %>
    
